asgiref==3.10.0
click==8.3.0
colorama==0.4.6
distlib==0.4.0
Django==5.2.7
filelock==3.20.0
gunicorn==23.0.0
h11==0.16.0
packaging==25.0
platformdirs==4.5.0
sqlparse==0.5.3
tzdata==2025.2
uvicorn==0.38.0
virtualenv==20.35.3
whitenoise==6.11.0
